In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [32]:
df_sp = pd.read_csv(r'C:\Users\Abhilash Mittal\Desktop\All_T_data\SP_glacier_data.csv')
df_sp

,Year,Julian Day,obs_period(days),elevation(m),debris_thickness(cm),melt(cm),PDD
0,2017,232,17,3868,114.0,11.0,186.023187
1,2017,250,18,3867,114.0,8.0,155.240187
2,2017,263,13,3867,114.0,5.0,110.232967
3,2017,273,10,3868,114.0,7.0,78.934398
4,2017,298,25,3868,114.0,1.0,129.251789
...,...,...,...,...,...,...,...
319,2017,231,15,4367,28.0,25.5,126.115990
320,2017,246,15,4367,28.0,11.0,88.635096
321,2017,262,16,4367,28.0,11.0,79.024820
322,2017,274,12,4367,28.0,12.0,58.219871
323,2017,296,17,4424,12.0,6.0,34.934678

In [33]:
#model1
#using observation data
#ddf = DDF = 8.694; 
#TF2 = -0.526

In [34]:
ddf_range = [] #it has a series of ddfs from 7 to 10 (0.05 interval)
tf2_range = [] #it has a series of TF2s from -2 to 1 (0.05 interval)
for i in np.arange(7, 10, 0.05):
    ddf_range.append(round(i, 2))

for i in np.arange(-3, 0, 0.05):
    tf2_range.append(round(i, 2))

In [55]:
MSEs = [] # it has all the Mean sq errors for each  ddf and tf2
observed_melt_rate = [] #cm/day
pdd = list(df_sp['PDD'])
db_thickness = list(df_sp['debris_thickness(cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt(cm)']):
    observed_melt_rate.append(m/ob)
weight = [] #exp(-mse)
data = []  
for ddf in ddf_range:
    for tf2 in tf2_range:
        data1 = []
        model_melt_rate_sqd = []
        for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
            model_melt_rate_sqd.append((mr - ddf*p*db**tf2/10/ob)**2)
        MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
        weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
        data1.append(ddf)
        data1.append(tf2)
        data1.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
        data.append(data1)
      
df_all_iterations = pd.DataFrame(data, columns = ['DDF', 'TF2', 'MSE'])
df_all_iterations['Weight'] = weight
df_all_iterations

       DDF   TF2        MSE        Weight
0     7.00 -3.00   2.352497  9.513129e-02
1     7.00 -2.95   2.348527  9.550972e-02
2     7.00 -2.90   2.344291  9.591520e-02
3     7.00 -2.85   2.339767  9.635004e-02
4     7.00 -2.80   2.334935  9.681677e-02
...    ...   ...        ...           ...
3595  9.95 -0.25   4.383631  1.247997e-02
3596  9.95 -0.20   6.823068  1.088377e-03
3597  9.95 -0.15  10.437159  2.932238e-05
3598  9.95 -0.10  15.741860  1.456790e-07
3599  9.95 -0.05  23.479524  6.352904e-11

[3600 rows x 4 columns]

In [51]:
count = 0
for i in weight:
    if i <= 0.01:
        count +=1
count

195

In [54]:
df_all_iterations.to_csv(r'C:\Users\Abhilash Mittal\Desktop\All_T_data\Model1_observed_T_Uncertainity.csv')

In [ ]:
#number of non-zero weights is 3600-195 = 3405

In [52]:
#Weighted SD for DDF is

In [62]:
df_all_iterations['DDF*Weight'] = df_all_iterations['DDF']*df_all_iterations['Weight']
df_all_iterations['TF2*Weight'] = df_all_iterations['TF2']*df_all_iterations['Weight']

df_all_iterations['Weight*(DDF - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['DDF'] - sum(df_all_iterations['DDF*Weight']/3600) )**2
df_all_iterations['Weight*(TF2 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['TF2'] - sum(df_all_iterations['TF2*Weight']/3600) )**2

df_all_iterations

,DDF,TF2,MSE,Weight,DDF*Weight,TF2*Weight,Weight*(DDF - xBARw)^2,Weight*(TF2 - yBARw)^2
0,7.00,-3.00,2.352497,9.513129e-02,6.659190e-01,-2.853939e-01,2.524795e+00,7.207932e-01
1,7.00,-2.95,2.348527,9.550972e-02,6.685680e-01,-2.817537e-01,2.534839e+00,6.976092e-01
2,7.00,-2.90,2.344291,9.591520e-02,6.714064e-01,-2.781541e-01,2.545600e+00,6.748886e-01
3,7.00,-2.85,2.339767,9.635004e-02,6.744503e-01,-2.745976e-01,2.557141e+00,6.526313e-01
4,7.00,-2.80,2.334935,9.681677e-02,6.777174e-01,-2.710869e-01,2.569528e+00,6.308372e-01
...,...,...,...,...,...,...,...,...
3595,9.95,-0.25,4.383631,1.247997e-02,1.241757e-01,-3.119991e-03,8.191563e-01,8.458657e-08
3596,9.95,-0.20,6.823068,1.088377e-03,1.082935e-02,-2.176754e-04,7.143856e-02,2.444969e-06
3597,9.95,-0.15,10.437159,2.932238e-05,2.917577e-04,-4.398358e-06,1.924654e-03,2.781549e-07
3598,9.95,-0.10,15.741860,1.456790e-07,1.449506e-06,-1.456790e-08,9.562035e-06,3.164986e-09
3599,9.95,-0.05,23.479524,6.352904e-11,6.321140e-10,-3.176452e-12,4.169900e-09,2.475435e-12

In [69]:
ddf_variability = (sum(df_all_iterations['Weight*(DDF - xBARw)^2'])*3405/(3600*(3405-1)*sum(df_all_iterations['Weight'])) )**(0.5)


TF2_variability = (sum(df_all_iterations['Weight*(TF2 - yBARw)^2'])*3405/(3600*(3405-1)*sum(df_all_iterations['Weight'])) )**(0.5)


print(round(ddf_variability,2), round(TF2_variability,2))

0.11 0.02