In [20]:
import netCDF4 as nc
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

In [21]:
data = nc.Dataset(r'F:\North_Changri_Nup\Era5Land\Era5Land_t2m_Changri_nup.nc')
data

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT_OFFSET data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2022-01-09 12:51:38 GMT by grib_to_netcdf-2.23.0: /opt/ecmwf/mars-client/bin/grib_to_netcdf -S param -o /cache/data1/adaptor.mars.internal-1641732474.350553-19711-8-de085cc1-e425-4903-af60-e5b45e967752.nc /cache/tmp/de085cc1-e425-4903-af60-e5b45e967752-adaptor.mars.internal-1641727585.8824859-19711-12-tmp.grib
    dimensions(sizes): longitude(11), latitude(11), time(26304)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 t2m(time,latitude,longitude)
    groups:

In [2]:
data['latitude']

NameError: name 'data' is not defined

In [23]:
lat = [28.1, 28.0, 27.9]
long = [86.7, 86.8, 86.9]

lat_list = []
for i in data.variables['latitude'][:].data.tolist():
    lat_list.append(round(i,2))

long_list = []
for i in data.variables['longitude'][:].data.tolist():
    long_list.append(round(i,2))
    
print(lat_list, long_list)

[28.5, 28.4, 28.3, 28.2, 28.1, 28.0, 27.9, 27.8, 27.7, 27.6, 27.5] [86.0, 86.1, 86.2, 86.3, 86.4, 86.5, 86.6, 86.7, 86.8, 86.9, 87.0]

In [24]:
lat_ind = []
long_ind = []

ind = 0
for i in lat_list:
    if float(i) in lat: lat_ind.append(ind)
    ind += 1
ind = 0
for i in long_list:
    if float(i) in long: long_ind.append(ind)
    ind += 1

In [25]:
lat_ind

[4, 5, 6]

In [26]:
long_ind

[7, 8, 9]

In [33]:
timesteps = 8760 + 8760 + 8784
hour=data.variables['time'][8760 + 8760:timesteps].data #8760 + 8760 for 2014 data

In [34]:
date=[]
for i in hour:
    i=i.item()
    start = datetime(1900,1,1)
    delta = timedelta(hours=i)
    offset = start + delta
    date.append(offset)

In [35]:
hourly_t=pd.DataFrame(date, columns=['Date'])

for i in range(len(lat)):
    for j in range(len(long)):
        hourly_t[str(str(lat[i])+','+str(long[j]))] = (data.variables['t2m'][8760 + 8760:timesteps,lat_ind[i],long_ind[j]])-273.15 
        #5136 for 1986 data
hourly_t.to_csv(r'F:\North_Changri_Nup\Era5Land\ChangriNup_Hourly_T_2016.csv',index=False)