In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Era5Land\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,112.008661,10.611894,178.293135,1.033360,0.529135,0.533741
1,1,250,18,3867.0,112.177121,4.893602,152.073862,0.832431,0.426249,0.429959
2,2,263,13,3867.0,111.830956,6.175991,100.823770,0.764162,0.391292,0.394698
3,3,273,10,3868.0,116.595735,7.100643,72.487570,0.714216,0.365716,0.368900
4,4,298,25,3868.0,115.810743,1.083765,131.205050,0.517102,0.264784,0.267089

In [2]:
df_model3_param = pd.read_csv(r'F:\Abhilah_First\Results\Era5Land\Model3param.csv')
df_model3_param

,Unnamed: 0,DDF,Uncertainty of DDF,d0,Uncertainty of d0,a,Uncertainty of a,RMSE
0,0,4.24086,0.207783,7.906319,1.659589,0.39691,0.049263,0.609293

In [3]:
ddf_noised = [] # 1000 ddf
d0_noised = [] #1000 d0
a_noised = [] # 1000 a
for i in range(1000):
    ddf_noised.append(df_model3_param['DDF'][0] + random.uniform(-df_model3_param['Uncertainty of DDF'][0],df_model3_param['Uncertainty of DDF'][0]))
    d0_noised.append(df_model3_param['d0'][0] + random.uniform(-df_model3_param['Uncertainty of d0'][0],df_model3_param['Uncertainty of d0'][0]))
    a_noised.append(df_model3_param['a'][0] + random.uniform(-df_model3_param['Uncertainty of a'][0],df_model3_param['Uncertainty of a'][0]))
df_all_iterations = pd.DataFrame(ddf_noised, columns = ['ddf'])
df_all_iterations['d0'] = d0_noised
df_all_iterations['a'] = a_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for ddf, d0, a in zip(ddf_noised, d0_noised, a_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - ddf*p/((1+(db/d0)**2)**a)/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          ddf        d0         a       MSE    Weight
0    4.197886  9.319480  0.355007  0.396531  0.672649
1    4.075030  7.694471  0.387179  0.352628  0.702839
2    4.116355  6.282866  0.414788  0.405537  0.666619
3    4.264022  7.623413  0.441651  0.363706  0.695096
4    4.097067  8.686637  0.369128  0.359947  0.697714
..        ...       ...       ...       ...       ...
995  4.250895  7.582913  0.362752  0.352513  0.702919
996  4.213266  6.721952  0.362345  0.350849  0.704090
997  4.033603  9.381411  0.404383  0.354602  0.701452
998  4.324117  8.950305  0.444969  0.352081  0.703223
999  4.064700  7.490742  0.441311  0.383994  0.681135

[1000 rows x 5 columns]

In [4]:
print(min(weight), max(weight))
count = 0
for i in weight:
    if i <= 0.655:
        count +=1
print('count: ', count) 
# there is no zero weight, number of non zero weights is 1000

0.6489041361018602 0.7059161441710058
count:  5

In [5]:
df_all_iterations['ddf*Weight'] = df_all_iterations['ddf']*df_all_iterations['Weight']
df_all_iterations['d0*Weight'] = df_all_iterations['d0']*df_all_iterations['Weight']
df_all_iterations['a*Weight'] = df_all_iterations['a']*df_all_iterations['Weight']

df_all_iterations['Weight*(ddf - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['ddf'] - sum(df_all_iterations['ddf*Weight']/1000) )**2
df_all_iterations['Weight*(d0 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['d0'] - sum(df_all_iterations['d0*Weight']/1000) )**2
df_all_iterations['Weight*(a - zBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['a'] - sum(df_all_iterations['a*Weight']/1000) )**2

df_all_iterations

,ddf,d0,a,MSE,Weight,ddf*Weight,d0*Weight,a*Weight,Weight*(ddf - xBARw)^2,Weight*(d0 - yBARw)^2,Weight*(a - zBARw)^2
0,4.197886,9.319480,0.355007,0.396531,0.672649,2.823704,6.268740,0.238795,1.049292,9.992311,0.004189
1,4.075030,7.694471,0.387179,0.352628,0.702839,2.864089,5.407972,0.272124,0.891301,3.492735,0.008674
2,4.116355,6.282866,0.414788,0.405537,0.666619,2.744039,4.188276,0.276506,0.908552,0.445643,0.012824
3,4.264022,7.623413,0.441651,0.363706,0.695096,2.963903,5.299001,0.306990,1.202182,3.237554,0.019053
4,4.097067,8.686637,0.369128,0.359947,0.697714,2.858579,6.060784,0.257546,0.919770,7.240450,0.006040
...,...,...,...,...,...,...,...,...,...,...,...
995,4.250895,7.582913,0.362752,0.352513,0.702919,2.988037,5.330177,0.254986,1.191564,3.152269,0.005279
996,4.213266,6.721952,0.362345,0.350849,0.704090,2.966519,4.732860,0.255123,1.125555,1.111986,0.005239
997,4.033603,9.381411,0.404383,0.354602,0.701452,2.829381,6.580613,0.283656,0.825300,10.757749,0.011546
998,4.324117,8.950305,0.444969,0.352081,0.703223,3.040818,6.294061,0.312912,1.329930,8.541120,0.020056
999,4.064700,7.490742,0.441311,0.383994,0.681135,2.768611,5.102209,0.300592,0.848004,2.794464,0.018594

In [6]:
ddf_variability = (sum(df_all_iterations['Weight*(ddf - xBARw)^2'])*(1000)/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


d0_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*(1000)/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

a_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*(1000)/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['ddf'][MSEs.index(min(MSEs))], df_all_iterations['d0'][MSEs.index(min(MSEs))], df_all_iterations['a'][MSEs.index(min(MSEs))])
print(round(ddf_variability,3), round(d0_variability,3), round(a_variability,3))

4.396510464644459 6.8313805787942385 0.3744277731124317
0.041 0.082 0.082