In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,114.408865,12.014427,186.223127,1.053839,0.521375,0.642001
1,1,250,18,3867.0,117.206214,5.451106,155.479642,0.823540,0.402203,0.498123
2,2,263,13,3867.0,115.431881,4.616733,110.065334,0.811816,0.399730,0.493257
3,3,273,10,3868.0,113.276018,7.117615,79.202456,0.764781,0.380382,0.467283
4,4,298,25,3868.0,113.806403,4.316599,129.013577,0.497438,0.246796,0.303515

In [2]:
df_model2_param = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\Model2param.csv')
df_model2_param

,Unnamed: 0,DDF,Uncertainty of DDF,d0,Uncertainty of d0,RMSE
0,0,5.089617,0.248659,11.80264,1.188937,0.590212

In [3]:
ddf_noised = [] # 1000 ddf
d0_noised = [] #1000 d0
for i in range(1000):
    ddf_noised.append(df_model2_param['DDF'][0] + random.uniform(-df_model2_param['Uncertainty of DDF'][0],df_model2_param['Uncertainty of DDF'][0]))
    d0_noised.append(df_model2_param['d0'][0] + random.uniform(-df_model2_param['Uncertainty of d0'][0],df_model2_param['Uncertainty of d0'][0]))
df_all_iterations = pd.DataFrame(ddf_noised, columns = ['DDF'])
df_all_iterations['d0'] = d0_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for ddf, d0 in zip(ddf_noised, d0_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - ddf*p/(1+db/d0)/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          DDF         d0       MSE    Weight
0    5.030807  11.182275  0.351451  0.703667
1    4.893083  10.857462  0.361215  0.696829
2    4.930023  11.165363  0.355528  0.700803
3    4.951179  10.710491  0.359770  0.697837
4    5.214221  11.880698  0.349680  0.704914
..        ...        ...       ...       ...
995  5.038190  12.439115  0.349096  0.705325
996  5.194235  12.274637  0.351433  0.703679
997  5.231306  12.771828  0.357538  0.699396
998  5.306120  12.432311  0.357676  0.699299
999  5.000091  10.719864  0.357035  0.699748

[1000 rows x 4 columns]

In [4]:
df_all_iterations['DDF*Weight'] = df_all_iterations['DDF']*df_all_iterations['Weight']
df_all_iterations['d0*Weight'] = df_all_iterations['d0']*df_all_iterations['Weight']

df_all_iterations['Weight*(DDF - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['DDF'] - sum(df_all_iterations['DDF*Weight']/1000) )**2
df_all_iterations['Weight*(d0 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['d0'] - sum(df_all_iterations['d0*Weight']/1000) )**2

df_all_iterations

,DDF,d0,MSE,Weight,DDF*Weight,d0*Weight,Weight*(DDF - xBARw)^2,Weight*(d0 - yBARw)^2
0,5.030807,11.182275,0.351451,0.703667,3.540011,7.868594,1.488002,5.719976
1,4.893083,10.857462,0.361215,0.696829,3.409644,7.565798,1.207644,4.447278
2,4.930023,11.165363,0.355528,0.700803,3.454976,7.824723,1.283647,5.629318
3,4.951179,10.710491,0.359770,0.697837,3.455115,7.474176,1.318488,3.950582
4,5.214221,11.880698,0.349680,0.704914,3.675575,8.374866,1.890376,8.881324
...,...,...,...,...,...,...,...,...
995,5.038190,12.439115,0.349096,0.705325,3.553562,8.773621,1.506692,11.902528
996,5.194235,12.274637,0.351433,0.703679,3.655074,8.637404,1.841286,10.942879
997,5.231306,12.771828,0.357538,0.699396,3.658756,8.932568,1.914920,13.791720
998,5.306120,12.432311,0.357676,0.699299,3.710566,8.693907,2.091706,11.761779
999,5.000091,10.719864,0.357035,0.699748,3.498802,7.501200,1.417864,3.992671

In [5]:
ddf_variability = (sum(df_all_iterations['Weight*(DDF - xBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


d0_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['DDF'][MSEs.index(min(MSEs))], df_all_iterations['d0'][MSEs.index(min(MSEs))])
print(round(ddf_variability,2), round(d0_variability,2))

5.164224736084146 11.489178802883284
0.05 0.11