In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,114.408865,12.014427,186.223127,1.053839,0.521375,0.642001
1,1,250,18,3867.0,117.206214,5.451106,155.479642,0.823540,0.402203,0.498123
2,2,263,13,3867.0,115.431881,4.616733,110.065334,0.811816,0.399730,0.493257
3,3,273,10,3868.0,113.276018,7.117615,79.202456,0.764781,0.380382,0.467283
4,4,298,25,3868.0,113.806403,4.316599,129.013577,0.497438,0.246796,0.303515

In [2]:
df_model3_param = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\Model3param.csv')
df_model3_param

,Unnamed: 0,DDF,Uncertainty of DDF,d0,Uncertainty of d0,a,Uncertainty of a,RMSE
0,0,4.450182,0.265407,5.564445,1.352878,0.335132,0.037296,0.64947

In [3]:
ddf_noised = [] # 1000 ddf
d0_noised = [] #1000 d0
a_noised = [] # 1000 a
for i in range(1000):
    ddf_noised.append(df_model3_param['DDF'][0] + random.uniform(-df_model3_param['Uncertainty of DDF'][0],df_model3_param['Uncertainty of DDF'][0]))
    d0_noised.append(df_model3_param['d0'][0] + random.uniform(-df_model3_param['Uncertainty of d0'][0],df_model3_param['Uncertainty of d0'][0]))
    a_noised.append(df_model3_param['a'][0] + random.uniform(-df_model3_param['Uncertainty of a'][0],df_model3_param['Uncertainty of a'][0]))
df_all_iterations = pd.DataFrame(ddf_noised, columns = ['ddf'])
df_all_iterations['d0'] = d0_noised
df_all_iterations['a'] = a_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for ddf, d0, a in zip(ddf_noised, d0_noised, a_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - ddf*p/((1+(db/d0)**2)**a)/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          ddf        d0         a       MSE    Weight
0    4.416679  4.428887  0.366915  0.414233  0.660847
1    4.297247  5.280854  0.344612  0.362448  0.695970
2    4.479246  6.554888  0.360784  0.353623  0.702140
3    4.709109  4.753285  0.334538  0.350836  0.704099
4    4.410991  5.131047  0.372246  0.379906  0.683925
..        ...       ...       ...       ...       ...
995  4.338307  4.303291  0.317308  0.373604  0.688250
996  4.474802  5.865550  0.336871  0.351452  0.703666
997  4.252825  4.994734  0.342189  0.373815  0.688104
998  4.577069  6.859110  0.362923  0.363758  0.695060
999  4.546571  6.857279  0.305990  0.424313  0.654219

[1000 rows x 5 columns]

In [4]:
print(min(weight), max(weight))
count = 0
for i in weight:
    if i <= 0.655:
        count +=1
print('count: ', count) 
# there is no zero weight, number of non zero weights is 1000

0.6291153624591016 0.7051499935052946
count:  22

In [5]:
df_all_iterations['ddf*Weight'] = df_all_iterations['ddf']*df_all_iterations['Weight']
df_all_iterations['d0*Weight'] = df_all_iterations['d0']*df_all_iterations['Weight']
df_all_iterations['a*Weight'] = df_all_iterations['a']*df_all_iterations['Weight']

df_all_iterations['Weight*(ddf - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['ddf'] - sum(df_all_iterations['ddf*Weight']/1000) )**2
df_all_iterations['Weight*(d0 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['d0'] - sum(df_all_iterations['d0*Weight']/1000) )**2
df_all_iterations['Weight*(a - zBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['a'] - sum(df_all_iterations['a*Weight']/1000) )**2

df_all_iterations

,ddf,d0,a,MSE,Weight,ddf*Weight,d0*Weight,a*Weight,Weight*(ddf - xBARw)^2,Weight*(d0 - yBARw)^2,Weight*(a - zBARw)^2
0,4.416679,4.428887,0.366915,0.414233,0.660847,2.918750,2.926817,0.242475,1.173524,0.236609,0.011922
1,4.297247,5.280854,0.344612,0.362448,0.695970,2.990757,3.675318,0.239840,1.024290,1.463945,0.008732
2,4.479246,6.554888,0.360784,0.353623,0.702140,3.145057,4.602448,0.253321,1.366681,5.211399,0.011537
3,4.709109,4.753285,0.334538,0.350836,0.704099,3.315680,3.346784,0.235548,1.859298,0.599533,0.007317
4,4.410991,5.131047,0.372246,0.379906,0.683925,3.016789,3.509254,0.254588,1.204159,1.156767,0.013337
...,...,...,...,...,...,...,...,...,...,...,...
995,4.338307,4.303291,0.317308,0.373604,0.688250,2.985839,2.961738,0.218387,1.082654,0.153830,0.004939
996,4.474802,5.865550,0.336871,0.351452,0.703666,3.148765,4.127387,0.237045,1.360940,2.914115,0.007651
997,4.252825,4.994734,0.342189,0.373815,0.688104,2.926385,3.436896,0.235462,0.939904,0.932648,0.008264
998,4.577069,6.859110,0.362923,0.363758,0.695060,3.181336,4.767491,0.252253,1.549272,6.375325,0.011805
999,4.546571,6.857279,0.305990,0.424313,0.654219,2.974452,4.486161,0.200184,1.399271,5.993464,0.003524

In [6]:
ddf_variability = (sum(df_all_iterations['Weight*(ddf - xBARw)^2'])*(1000)/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


d0_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*(1000)/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

a_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*(1000)/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['ddf'][MSEs.index(min(MSEs))], df_all_iterations['d0'][MSEs.index(min(MSEs))], df_all_iterations['a'][MSEs.index(min(MSEs))])
print(round(ddf_variability,3), round(d0_variability,3), round(a_variability,3))

4.6687729515753915 4.743479873691386 0.32027893860930035
0.043 0.059 0.059